[#rdf/prefix [:example "http://example.com/test/"]
 {:rdf/about :example/test-app
  :arachne.module/include ["test-app.rdf.edn"]
  :arachne.module/dependencies [:org.arachne-framework/arachne-core]}]
