[#rdf/global-prefix [:test "http://example.com/test/"]
 {:rdf/about :test/rt
  :arachne.runtime/components [:test/component]}
 {:rdf/about :test/component
  :arachne.component/constructor test-app.core/test-component}]
