[#rdf/prefix [:example "http://example.com/test/"]
 {:rdf/about :example/rt
  :arachne.runtime/components [:example/component]}
 {:rdf/about :example/component
  :arachne.component/constructor test-app.core/test-component}]
