[{:rdf/about :org.arachne-framework/arachne-core
  :arachne.module/include [arachne.core.schema/schema]
  :arachne.module/configure [arachne.core/add-instance-constructors
                             arachne.core/distinct-vars]}]

